@import "../mixins";
@import "../variables";

.article {
  margin: 0 auto;

  h1 {
    font-size: 32px;
  }
  p {
    line-height: 1.55rem;
  }

  &_container {
    @include flex-row;
    margin: 0 auto;
    width: 66.25rem;
    height: 21.6875rem;
    border-radius: 8px;
    box-shadow: 0px 10px 20px #00000014;
  }
  .tags {
    @include flex-row;
    justify-content: flex-start;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
  }

  .flipped {
    @include flex-row-reverse;
  }

  .image {
    width: auto;
    min-width: 40%;
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
    }
  }
  .text {
    @include flex-column;
    justify-content: space-evenly;
    padding: 1.5rem;
    gap: 1rem;
  }

  @include responsive(533px) {
    .article {
      margin: 0 auto;
      &_container {
        @include flex-column-reverse;
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: space-between;
        gap: 0.5rem;
        border-radius: 0;
      }
    }

    .text {
      h1 {
        font-size: 26px;
      }
      width: 100%;
      align-self: center;

      line-height: 1.55rem;

      padding: 2rem;
      min-height: 25rem;
      gap: 1.5rem;

      button {
        width: 40%;
      }
    }
    .image {
      width: auto;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.dark {
  background: $dark-blue-button-color;
}

.light {
  background: $white-placeholder-color;
  color: black;
}

.light-green {
  background: $light-green-color;
  color: black;
}

.light-green-text-color {
  color: $light-green-color;
}

.light-green-bg-and-dark-green-text-color {
  background: $light-green-color;
  color: $base-green-color;
}
