@import "../mixins";
@import "../variables";

.button {
  button {
    background: $dark-blue-button-color;
    width: 106px;
    height: 3.4375rem;
    border-radius: 0.25rem;
    border: 0;
    font-size: 16px;
    color: white;
  }

  button:hover {
    cursor: pointer;
  }

  .light {
    background: $white-placeholder-color;
    color: black;
  }
}
