@import "../variables";

.container {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  align-items: center;
  height: 2rem;
  border-radius: 100px;
  color: black;
  font-size: 14px;
}

.light-green-bg-and-dark-green-text-color {
  background: $light-green-color;
  color: $base-green-color;
  background-color: red;
}
