@import "../mixins";
@import "../variables";
.container {
  @include flex-row;
  justify-content: space-between;
  padding: 1.5rem;
  height: 2rem;
  box-shadow: 0px 8px 20px #00000014;
  border-radius: 8px;
  height: 4rem;
  color: white;
  align-items: center;
  gap: 2rem;
  p {
    padding: 1.5rem;
  }
  img:nth-child(1) {
    width: 2.5rem;
    height: 2.5rem;
  }

  @include responsive(533px) {
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    justify-content: left;
    font-size: 0.9rem;
    mg:nth-child(1) {
      margin-left: auto;
    }
    .arrow {
      margin-left: auto;
    }
  }
}
