@font-face {
  font-family: "Poppins Italic";
  src: url("../assets/fonts/poppinsFontItalic") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins Regular";
  src: url("../assets/fonts/poppinsFontRegular") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins Semi Bold";
  src: url("../assets/fonts/poppinsFontSemiBold") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins Bold ";
  src: url("../assets/fonts/poppinsFontBold") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins Bold Italic";
  src: url("../assets/fonts/poppinsFontBoldItalic") format("opentype");
  font-weight: 700;
}
