@use "variables.scss";

@mixin responsive($value) {
  @media (max-width: $value) {
    @content;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

@mixin flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}
