$xl: 87.5rem; // 4k and hi-res desktop
$lg: 60rem; // 1080 and hi-res laptops
$med: 40rem; // hi-res tablets and low-res laptops
$sm: 28rem; // mobile and low-res tablets
$xs: 20rem; // mobile only

$base-green-color: #1baa5d;
$dark-green-color: #003f42;
