@import "mixins.scss";
@import "variables.scss";

.article {
  margin: 0 auto;
  &_container {
    @include flex-row;
    margin: 0 auto;
    width: 66.25rem;
    height: 21.6875rem;
    border-radius: 0px 8px 8px 0px;
    gap: 2rem;
  }

  .image {
    width: 20rem;
    height: 20rem;
  }
  .text {
    @include flex-column;
    justify-content: space-evenly;
  }
}

.dark {
  background: $dark-blue-button-color;
}

.light {
  background: $white-placeholder-color;
  color: black;
}
