@import "mixins.scss";
@import "variables.scss";

.button {
  button {
    background: $dark-blue-button-color;
    width: 106px;
    height: 3.4375rem;
    border-radius: 0.25rem;
    border: 0;
    font-size: 16px;
  }

  button:hover {
    cursor: pointer;
  }
}
