@import "mixins.scss";
@import "variables.scss";

.footer {
  background: $dark-green-color;
  @include flex-row;
  height: 25rem;
  width: 100%;
  justify-content: space-around;
  padding-top: 4rem;
  .paragraph {
    @include flex-column;
    width: 27.5rem;
    gap: 2.5rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .container {
    @include flex-row;
    width: 100%;
    justify-content: space-evenly;
  }
  .references {
    @include flex-column;
    width: 20rem;
    ul {
      list-style: none;

      @include flex-column;
      justify-content: space-between;
      gap: 1.2rem;
    }
  }

  .contact {
    @include flex-column;
    ul {
      list-style: none;
      @include flex-column;
      gap: 2rem;
    }
  }
  .logo {
    margin-left: 1rem;
  }

  .email {
    @include flex-row;
    align-items: center;
    gap: 1.2rem;
    //background-blend-mode: lighten;
    background-color: #065458;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 25rem;
  }

  .logo_and_mobile_text {
    display: none;
  }

  .small_logo {
    border-radius: 2rem;
    //background-color: white;
    opacity: 0.5;

    img {
      height: 2.5rem;
      width: 2rem;
      position: absolute;
    }
  }
  .email_text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @include responsive(533px) {
    @include flex-column;
    height: auto;
    gap: 2rem;
    align-items: left;
    padding: 2rem;

    .email {
      width: 20rem;
    }

    .email_text {
      white-space: nowrap;
    }

    .logo {
      margin: 0;
    }

    .paragraph {
      width: min-content;
    }

    .logo_and_text {
      display: flex;
      gap: 2rem;
      line-height: 1.4rem;
    }
    .logo_and_mobile_text {
      display: block;
    }
    .logo_and_desktop_text {
      display: none;
    }

    .container {
      @include flex-column;
      width: 100%;
      justify-content: space-between;
      gap: 2.5rem;
    }
  }
}
