@import "root.scss";
@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins Regular", sans-serif;
  background-color: $basic-background-color;
}

h1 {
  font-size: 48px;
}
