@import "root.scss";
@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Poppins Regular", sans-serif;
  background-color: $basic-background-color;
  // font-family: "Poppins Normal 2", sans-serif;
}
