@import "./variables";
@import "./mixins";

.input_container {
  .input {
    border-radius: 4px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #00000029;
    border-radius: 8px;

    opacity: 0.7;
    height: 3.4375rem;
    color: black;
    font-size: 16px;
    border-radius: 0.25rem;
    border: 0;
    padding-left: 2.75rem;
  }
  @include placeholder {
    font-size: larger;
    color: $grey-placeholder-color;
  }

  .icon {
    background: url("../assets/icons/search_icon.svg") no-repeat 8px 7px;
    background-position: 1rem;
    background-size: 1.1rem;
  }
}
