@import "mixins.scss";
@import "variables.scss";

.navbar {
  width: 100%;
  background: $base-green-color;
  height: 5rem;

  .desktop {
    ul {
      display: flex;
      flex-direction: row;
    }
  }

  .toggle {
    display: none;

    button {
      background-color: yellow;
    }
  }

  .mobile {
    //background-color: orange;
    background: $base-green-color;
    display: none;
  }

  @include responsive(540px) {
    .mobile {
      // display: block;
      display: none;

      ul {
        @include flex-column;
      }
    }

    .desktop {
      display: none;
    }

    .toggle {
      display: block;

      button {
        color: black;
        align-items: center;
      }
    }
  }
}
