@import "mixins.scss";
@import "variables.scss";

.navbar {
  width: 100%;
  background: $base-green-color;
  height: 5rem;

  .desktop {
    background: purple;
    display: block;
  }

  .mobile {
    background-color: orange;
    display: none;
  }
  .testing {
    background-color: pink;
  }

  @include responsive(540px) {
    // .mobile {
    //   display: block;
    // }
    // .desktop {
    //   display: none;
    // }

    .testing {
      background-color: rgb(51, 6, 250);
    }

    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }
  }
}
