@import "mixins.scss";
@import "variables.scss";

.navbar {
  width: 100%;
  background: $base-green-color;
  height: 5rem;
  &__desktop {
    background: purple;
  }

  &__mobile {
    background: red;
  }
  @include responsive(xs) {
    @include flex-column;
  }
}
