@import "mixins.scss";
@import "variables.scss";

.search {
  background-color: $base-green-color;
  height: 20rem;
  width: 100%;

  .input {
    height: 20rem;
  }

  .highlight {
    color: $dark-green-color;
  }
}
